@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --ff-display: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  --ff-body: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  --ff-mono: ;

  --fs-d1: clamp(2.566rem, -0.1492rem + 10.8608vw, 5.96rem);
  --fs-d2: clamp(2.281rem, 0.2914rem + 7.9584vw, 4.768rem);
  --fs-d3: clamp(2.027rem, 0.5966rem + 5.7216vw, 3.815rem);
  --fs-1: clamp(1.802rem, 0.802rem + 4vw, 3.052rem);
  --fs-2: clamp(1.602rem, 0.9308rem + 2.6848vw, 2.441rem);
  --fs-3: clamp(1.424rem, 1.0008rem + 1.6928vw, 1.953rem);
  --fs-4: clamp(1.266rem, 1.0284rem + 0.9504vw, 1.563rem);
  --fs-5: clamp(1.125rem, 1.025rem + 0.4vw, 1.25rem);
  --fs-6: clamp(1rem, 1rem + 0vw, 1rem);
  --fs-regular: clamp(0.875rem, 0.8158rem + 0.2105vw, 1rem);
  --fs-small: clamp(0.8125rem, 0.7875rem + 0.1vw, 0.875rem);
  --fs-xsmall: clamp(0.6875rem, 0.6375rem + 0.2vw, 0.8125rem);

  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-extrabold: 800;

  --clr-primary-400: #5f7ff5;
  --clr-secondary-400: #d9ee5f;
  --clr-accent-400: #ee9648;

  --clr-light: #ffffff;
  --clr-neutral-200: #f8fafa;
  --clr-neutral-300: #c5c6c8;
  --clr-neutral-400: #818283;
  --clr-neutral-500: #4f5052;
  --clr-neutral-600: #282728;
  --clr-neutral-700: #0d0e10;
  --clr-dark: #000000;

  --clr-heading: var(--clr-dark);
  --clr-text: var(--clr-neutral-400);
  --clr-bg: var(--clr-light);

  --spacing-1: clamp(0.875rem, 0.8rem + 0.2667vw, 1rem);
  --spacing-2: clamp(1.2rem, 0.8211rem + 1.3474vw, 2rem);
  --spacing-3: clamp(1.5rem, 0.7895rem + 2.5263vw, 3rem);
  --spacing-4: clamp(2rem, 1.0526rem + 3.3684vw, 4rem);
  --spacing-5: clamp(2.5rem, 1.3158rem + 4.2105vw, 5rem);
  --spacing-8: clamp(4rem, 2.1053rem + 6.7368vw, 8rem);
  --spacing-10: clamp(5rem, 2.6316rem + 8.4211vw, 10rem);

  --spacing-left: clamp(0rem, -44.4444rem + 92.5926vw, 25%);

  --card-width: 250px;
}
/** Spacing **/
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/** ---------------------------- Responsive Width ---------------------------- */
.container {
  --width__screen: 100%;
  --width__laptops: 1400px;
  --width__blogs: 1100px;
  --padding: 1rem;

  width: min(var(--width__screen), 100% - (var(--padding) * 2));
  margin-inline: auto;
}
@media only screen and (max-width: 1200px) {
}
@media only screen and (max-width: 992px) {
}
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 576px) {
}
/** ---------------------------- Set Core Defaults --------------------------- */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: var(--ff-body);
}
html,
html:focus-within {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  text-rendering: optimizeSpeed;
  background-color: var(--clr-bg);
  color: var(--clr-text);
  line-height: 1.5;
}
ul[role="list"],
ol[role="list"] {
  list-style: none;
}
img,
picture,
svg {
  max-width: 100%;
  display: block;
}
@media (prefers-reduced-motion: media) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  ::after {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
    -o-transition-duration: 0.01ms !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/** -------------------------------- Utility's ------------------------------- */
.d1,
.d2,
.d3,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-display);
  font-weight: var(--fw-medium);
  color: var(--clr-heading);
}
.d1 {
  font-size: var(--fs-d1);
  line-height: calc(var(--fs-d1) * 1);
}
.d2 {
  font-size: var(--fs-d2);
  line-height: calc(var(--fs-d2) * 1);
}
.d3 {
  font-size: var(--fs-d3);
  line-height: calc(var(--fs-d3) * 1);
}
h1 {
  font-size: var(--fs-1);
  line-height: calc(var(--fs-1) * 1.2);
}
h2 {
  font-size: var(--fs-2);
  line-height: calc(var(--fs-2) * 1.2);
}
h3 {
  font-size: var(--fs-3);
  line-height: calc(var(--fs-3) * 1.2);
}
h4 {
  font-size: var(--fs-4);
  line-height: calc(var(--fs-4) * 1.2);
}
h5 {
  font-size: var(--fs-5);
  line-height: calc(var(--fs-5) * 1.2);
}
h6 {
  font-size: var(--fs-6);
  line-height: calc(var(--fs-6) * 1.2);
}
p {
  font-size: var(--fs-regular);
  font-weight: var(--fw-regular);
  color: var(--clr-text);
}
a {
  cursor: pointer;
  text-decoration: none;
  font-size: var(--fs-regular);
  font-weight: var(--fw-medium);
  color: var(--clr-text);
}
.py-2 {
  padding-block: var(--spacing-2);
}
.py-3 {
  padding-block: var(--spacing-3);
}
.py-4 {
  padding-block: var(--spacing-4);
}
.py-5 {
  padding-block: var(--spacing-5);
}
.py-8 {
  padding-block: var(--spacing-8);
}
.py-10 {
  padding-block: var(--spacing-10);
}
.pb-2 {
  padding-bottom: var(--spacing-2);
}
.pb-3 {
  padding-bottom: var(--spacing-3);
}
.pb-4 {
  padding-bottom: var(--spacing-4);
}
.pb-5 {
  padding-bottom: var(--spacing-5);
}
.pb-8 {
  padding-bottom: var(--spacing-8);
}
.pb-10 {
  padding-bottom: var(--spacing-10);
}
.pt-2 {
  padding-top: var(--spacing-2);
}
.pt-3 {
  padding-top: var(--spacing-3);
}
.pt-4 {
  padding-top: var(--spacing-4);
}
.pt-5 {
  padding-top: var(--spacing-5);
}
.pt-8 {
  padding-top: var(--spacing-8);
}
.pt-10 {
  padding-top: var(--spacing-10);
}
.flow * + * {
  margin-top: clamp(1.5rem, 1.28rem + 0.64vw, 2rem);
}
.flow-sm * + * {
  margin-top: clamp(0.625rem, 0.425rem + 0.8vw, 0.875rem);
}
.flow-xsm * + * {
  margin-top: clamp(0.375rem, 0.175rem + 0.8vw, 0.625rem);
}
.ch-xsmall {
  max-width: clamp(20ch, 24ch + 25.2632vw, 40ch);
}
.ch-small {
  max-width: clamp(30ch, 24ch + 25.2632vw, 60ch);
}
.ch-medium {
  max-width: clamp(40ch, 34ch + 25.2632vw, 70ch);
}
.ch-large {
  max-width: clamp(50ch, 40ch + 25.2632vw, 80ch);
}
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}
.pe-none {
  pointer-events: none !important;
}
.user-select-none {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

/** HEADER **/
nav .active {
  font-weight: bold;
  color: #fa9806 !important;
}
